
*{
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 90px;
  color: white;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 20px;
  color: #2098d1;
}

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  font-size: 20px;
  color: #2098d1;
}

.logo {
  padding: 10px;
  background-color: black;
}

.name {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  padding-right: 20px;
  background-color: salmon;
  opacity: 0.90;
  color: white;

}

/* flower image and 'about-me' */
.section-2 {
  margin-top: 25px;
}

.flowerimg {
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  display: block;
  /*padding-top: 20px;*/
}

.contact {
  margin-top: 10px;
}

.about-me {
  padding: 20px;
  /*border: 2px solid #6adcb0;*/
  background-color: #6adcb0;
  opacity: 0.90;
  margin-bottom: 30px;
}

header {
  font-weight:normal;
  color: white;
  display: inline-block;
}

.text {
  color: white;
}

.text p a {
  color: #2098d1;
}

.featured-work{
display: inline-block;
border: 4px solid silver;
background-color: silver;
color: white;
}

.col-4 img {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

footer{
  background-color: black;
  border: 2px solid black;
  color: white;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top : 0;
  display : none;
  text-align: center;
}

#overlay img {
  margin-top : 10%;
  max-width: 50%;
}

#overlay p {
  color: white;
}
